<%= form_for :patient , url: {action: "create"} do |f| %>
    <%= f.text_field(:first_name , placeholder: "first_name")%>
    <br>
    <%= f.text_field(:middle_name , placeholder: "middle_name")%>
    <br>
    <%= f.text_field(:last_name , placeholder: "last_name")%>
    <br>
    <%= f.date_select :birth, prefix: :birth %>
    <br>
    <%= f.collection_select(:location_id, Location.all, :id, :name) %>
    <br>
    <%= f.radio_button :gender, "not_available", :checked => true %>
    <%= f.radio_button :gender, "male" %>
    <%= f.radio_button :gender, "female" %>
    <br>
  <% status = [['initial', 'initial'],['referred', 'referred'], ['treatment', 'treatment'], ['closed', 'closed']] %>
    <%= f.select(:status, status.collect {|p| [p.first, p.last]}, {:include_blank => false})%>
  <p>
    <%= f.submit '保存'%>
  </p>
<% end %>
