<%= form_for :patient , url: {action: "create"} do |f| %>
    <%= f.text_field(:first_name ,class:"form-control form-title", placeholder: "first_name")%>
    <br>
    <%= f.text_field(:middle_name ,class:"form-control form-title", placeholder: "middle_name")%>
    <br>
    <%= f.text_field(:last_name ,class:"form-control form-title", placeholder: "last_name")%>
    <br>
    <%= select_date Date.today, prefix: :birth %>
    <br>
    <%= f.collection_select(:location_id, Location.all, :id, :name) %>
    <br>
    <%= radio_button_tag(:gender, "not_available") %>
    <%= radio_button_tag(:gender, "male") %>
    <%= radio_button_tag(:gender, "female") %>
    <br>
    <% status = [['initial', 0],['referred', 1], ['treatment', 2], ['closed', 3]] %>
    <%= f.select(:gender, gender.collect {|p| [p.first, p.last]}, {:include_blank => false})%>
  <p>
    <%= f.submit '保存'%>
  </p>
<% end %>
