<%patient= @patient%>
<ul>
  <li>
    MR: MR<%="%06d" % patient.id%>
  </li>
  <li>
    <%=t("Fullname")%>: <%= "#{patient.last_name}, #{patient.first_name} #{patient.middle_name}"%>
  </li>
  <li>
      <%=t("Age")%>: <%=patient.birth.nil? ? 0:(Time.now.year - patient.birth.year)%>
  </li>
  <li>
      <%=t("Gender")%>: <%=t patient.gender%>
  </li>
  <li>
      <%=t("Status")%>: <%=t patient.status%>
  </li>
  <li>
      <%=t("Location_name")%>: <%=link_to patient.location.name, location_path(patient.location) %>
  </li>
  <li>
    <%=t("Viewed_Count")%>:  <%=patient.viewed_count%>
  </li>
</ul>
