

<h1>
  <%=t("location")%>
  <br>
  <%=t("name")%>: <%=@location.name%><br>
  CODE: <%=@location.code%>
</h1>

<%=t("local_patient")%>:
<%=render partial: "patients/patient", collection: @location.patients%>
