<!DOCTYPE html>
<html>
  <head>
    <title>Patients</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=link_to "English", "#{request.path}?local=en"%>
    <%=link_to "中文", "#{request.path}?local=zh-CN"%>
    <%= yield %>
  </body>
</html>
